@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-info">Welcome To Books List Demo Project</h1>
    <hr />
    <br /><br /><br />
    <h3 class="text-info">We Coverd In This Project:</h3>
    <p class="text-info">
        - How To Create New Book<br /><br />
        - How To Edit Book<br /><br />
        - How To Delete Book<br /><br />
        - How To View All Books
    </p>
</div>

